body{
    font-family: 'Roboto';
}
#pageTitle{
    font-weight: bold;
    justify-self: center;
}
#buttonBox{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
#newScript{
    width: 60%;
    background-color: rgb(60, 251, 60);
    border: none;
    border-radius: 100px;
    padding-top: 3px;
    padding-bottom: 3px; 
    font-weight: bold;
}
#newScript:active{
    width: 60%;
    background-color: rgb(45, 173, 45);
    border: none;
    border-radius: 100px;
    padding-top: 3px;
    padding-bottom: 3px; 
    font-weight: bold;
}