body{
    font-family: 'Roboto';
}
#buttonBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#NewScriptButton{
    background-color: #35F197;
    border-radius: 25px;
    width: 60%
}
#SeeScriptsButton{
    background-color: #282F2C;
    color: white;
    border-radius: 25px;
    width: 60%
}