body{
    font-family: 'Roboto';
}
#buttonDiv{
    display: flex;
    width: 100%;
    border: 1px solid red;
    justify-content: center;
}
#scrapeButton{
    width: 60%;
    padding: 1%;
    background-color: rgb(28, 181, 69);
    border-radius: 7%;
    font-weight: bold;
}